*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(115, 115, 197);
}
.main-container{
    width: 100% ;
    height: 300px ; 
    margin-top: 200px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
.input-box > input{
    width: 100px ;
    height: 50px;
    background: darkorchid;
    font-size: 34px;
    border-radius: 20px;
    color: white;
    transition: width 0.4s , background 0.8s;
    padding: 0 10px 0 10px;
}
.input-box > input:focus{
    width: 450px;
    outline: none;
    background: rgb(74, 22, 133);
}
.input-box > div{
    font-size: 22px ;
    font-family: sans-serif ;
}